Seperti telah kita pelajari, untuk meng-akses database ada beberapa perangkat lunak yang dapat digunakan. Secara khusus pada pelatihan **("Data Analytics with Python+SQL")** ini kita akan fokus untuk menggunakan dua diantaranya; MySQL dan PostgreeSQL.
<hr> 

# Akses MySQL dengan Python

Berikut ini akan diperlihatkan langkah-langkah untuk mengakses MySQL dengan Python:

## Instalasi Modul MySQL Connector

Untuk dapat menghubunkan Python dengan MySQL, diperlukan mudul (Packages) yang berisi fungsi-fungsi  dan perintah yang dapat dipergunakan dalam mengakses MySQL.

In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

## Aktifkan MySQL

**Jangan pernah lupa** mengaktifkan MySQL melalui aplikasi XAMPP untuk dapat menghubungkan MySQL dengan Python. Klik **Start** pada tombol **Apache** dan **MySQL** dan pastikan berwarna hijau, seperti terlihat pada gambar dibawah ini. 

<img style="float: center; margin: 0px 0px 0px 0px; width:80%" src="https://github.com/dsciencelabs/JNE_Data_Analytics_PySQL/blob/main/images/bab1/xampp8.png?raw=true"/>

## Koneksikan Python ke SQL

Pertama-tama kita membutuhkan modul `mysql.connector` untuk membuat koneksi ke MySQL. Kemudian kita membuat koneksi dengan memanggil fungsi `connect()` dan parameter

* `host`  : Hosting (Alamat penyimpanan database), bisa lokal dan situs tertentu.
* `user`  : Nama user yang dapat melakukan akses ke database tersebut
* `passwd`: Sandi yang hanya diberikan kepad user yang memiliki hak akses ke database

Perhatikan, koding berikut:

In [1]:
import mysql.connector

db1 = mysql.connector.connect(
  host='localhost',
  user='jne',
  passwd='123'
)

if db1.is_connected():
  print('Berhasil terhubung ke database')

Berhasil terhubung ke database

**Catatan:**
<br>
Jika anda ingin terkoneksi ke MySQL secara default, tanpa menggunakan **Password**. Dapat mengikuti koding berikut:

In [6]:
import mysql.connector

db2 = mysql.connector.connect(
  host='localhost',
  user='root',
  passwd=''
)

if db2.is_connected():
  print('Berhasil terhubung ke database')

Berhasil terhubung ke database

## Membuat Database

Kita sudah berhasil membuat objek `db1` dan `db2` yang akan bertugas sebagai konektor ke MySQL. Kemudian kita masih membutuhkan satu lagi objek yaitu `cursor` untuk mengeksekusi perintah SQL atau query. Karena objek tersebut berada di dalam objek `db1` dan `db2`, sehingga untuk membuat objek `cursor` adalah sebagai berikut:

In [3]:
cursor1 = db1.cursor()
cursor1.execute('CREATE DATABASE jne')

DatabaseError: 1007 (HY000): Can't create database 'jne'; database exists

atau,

In [12]:
cursor2 = db2.cursor()
cursor2.execute('CREATE DATABASE JNE')

**Pertanyaan:** Dari kedua koding tersebut diatas, apakah yang menurut anda berbeda?

Cara lain,

In [7]:
cursor3 = db2.cursor()
sql = 'CREATE DATABASE JNE'
cursor3.execute(sql)

DatabaseError: 1007 (HY000): Can't create database 'jne'; database exists

**Catatan:** Untuk mengecek database yang telah dibuat, buka Phpmyadmin dengan cara klik dua kali pada tombol `admin` pada aplikasi XAMPP yang telah diaktifkan sebelumnya. Berikut ini adalah hasilny; <img style="float: center; margin: 0px 0px 0px 0px; width:80%" src="https://github.com/dsciencelabs/JNE_Data_Analytics_PySQL/blob/main/images/bab1/dbjne.png?raw=true"/>

## Membuat Tabel

Cara membuat tabel sama seperti cara membuat database. Kita tinggal masukan perintah SQL atau query ke dalam method execute(). Namun sebelum itu, pastikan kontektor sudah diberikan parameter database untuk menentukan database mana yang akan digunakan.

In [8]:
import mysql.connector

db3 = mysql.connector.connect(
  host='localhost',
  user='bakti',
  passwd='123',
  database='jne'
)

Pada kode di atas kita memberikan parameter database="jne". Artinya kita akan mengunakan database tersebut pada koneksi objek `db3`. Sehingga,  untuk membuat tabel pada database dapat dilakukan dengan kode berikut;

In [13]:
cursor3 = db3.cursor()
sql = '''CREATE TABLE karyawan (
            karyawan_id INT AUTO_INCREMENT PRIMARY KEY,
            nama VARCHAR(255),
            email Varchar(255))'''

cursor3.execute(sql)

**Pertanyaan:** 

* Mengapa koding SQL diatas menggunkan tanda tiga tanda petik ''' ?
* Apakah memungkinkan, jika anda menambahkan tabel baru ke database JNE dengan menggunakan user lain?
* Bagaimana caranya untuk menambahkan user baru yang dapat mengakses database anda?

## Insert Data

Setelah membuat tabel, berikutnya kita akan mencoba menambahkan data ke tabel. Perhatikan koding berikut:

In [14]:
sql = 'INSERT INTO karyawan (nama, email) VALUES (%s, %s)'
val = ('Bakti Siregar 2', 'dsciencelabs@outlook.com')
cursor3.execute(sql, val)

db3.commit()

print('{} data ditambahkan'.format(cursor3.rowcount))

1 data ditambahkan

**Pertanyaan:** 

Jika anda mencoba untuk menjalankan koding diatas berkali-kali, apakah yang terjadi?

**Catatan** Untuk memastikan tidak ada data duplikat pada variabel tertentu, dapat dilakukan dengan merubah struktur tabel variabel tersebut menjadi `Unique`.

## Insert Beberapa Data

Lalu, bagaimana cara menambahkan beberapa data sekaligus? Kita bisa lakukan hal tersebut dengan fungsi perulangan, sebagai berikut;

In [16]:
sql = "INSERT INTO karyawan (nama, email) VALUES (%s, %s)"
values = [
  ("Clara", "clara@gmail.com"),
  ("Yosia", "yosia@gmail.com"),
  ("Fani", "fani@yahoo.com")
]

for val in values:
  cursor3.execute(sql, val)
  db3.commit()

print("{} data ditambahkan".format(len(values)))

3 data ditambahkan

## Menampilkan Data

Kita dapat menampilkan data dari MySQL dengan query `SELECT`. Kemudian kita ambil datanya dengan method:

* `fetchall()` untuk ambil semua data;
* `fetchone()` untuk mengambil satu data pertama saja.
* `fetachmany(10)` untuk ambil 10 data;

**Catatan:** Metode ini akan mengembalikan sebuah data list yang berisi tuple.

In [21]:
sql = "SELECT * FROM karyawan"
cursor3.execute(sql)

results = cursor3.fetchall()

for data in results:
  print(data)

(1, 'Bakti Siregar 2', 'dsciencelabs@outlook.com')
(2, 'Ardianta', 'ardianta@gmail.com')
(3, 'Yosia', 'yosia@gmail.com')

## Update Data

Kurang lebih caranya sama seperti melakukan insert data. Bedanya, disini digunakan query `UPDATE`

In [18]:
sql = "UPDATE karyawan SET nama=%s, email=%s WHERE karyawan_id=%s"
val = ("Ardianta", "ardianta@gmail.com", 2)
cursor3.execute(sql, val)

db3.commit()

print("{} data diubah".format(cursor3.rowcount))

1 data diubah

## Hapus Data

Pada bagian hapus data sama seperti update data. Kita harus menggunakan query `DELETE` untuk menghapus dan `WHERE` untuk menentukan data yang akan dihapus.

In [22]:
sql = "DELETE FROM karyawan WHERE karyawan_id=%s"
val = (4, )
cursor3.execute(sql, val)

db3.commit()

print("{} data dihapus".format(cursor3.rowcount))

0 data dihapus