# Latihan

## CREATE DATABASE

In [2]:
# import module 
import mysql.connector

# koneksi server
db1 = mysql.connector.connect(
  host='localhost',
  user='bakti',
  passwd='123'
)

# membuat objek 'cursor` sebagai kata kunci eksekusi SQL
cursor1 = db1.cursor()

# Perintah SQL
sql='''CREATE DATABASE IF NOT EXISTS join_tabel'''

# Eksekusi perintah  SQL
cursor1.execute(sql)

## Check List Database

In [3]:
# Perintah SQL
sql = 'SHOW DATABASES'

# Eksekusi perintah  SQL
cursor1.execute(sql)

# menampilkan daftar database
for x in cursor1:
  print(x)

('information_schema',)
('jne2',)
('jne4',)
('join_tabel',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('unique_id',)

## CREATE TABEL

# import module 
import mysql.connector

# koneksi server
db2 = mysql.connector.connect(
  host='localhost',
  user='bakti',
  passwd='123',
  database='join_tabel'
)

# membuat objek 'cursor` sebagai kata kunci eksekusi SQL
cursor2 = db2.cursor()

## Create Tabel Barang

In [6]:
# Perintah SQL
sql = '''
CREATE TABLE IF NOT EXISTS `barang` (
  `id_barang` int(11) NOT NULL AUTO_INCREMENT,
  `id_kategori` smallint(6) NOT NULL,
  `nama_barang` varchar(255) CHARACTER SET latin1 NOT NULL,
  `harga` int(11) NOT NULL,
  `stok` int(11) NOT NULL,
  PRIMARY KEY (`id_barang`)
); 
'''

# Eksekusi perintah  SQL
cursor2.execute(sql)

# Simpan perubahan
db2.commit()

## Create Tabel Pelanggan

In [7]:
# Perintah SQL
sql = ''' 
CREATE TABLE IF NOT EXISTS `pelanggan` (
  `id_pelanggan` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(50) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_pelanggan`) 
); 
'''

# Eksekusi perintah  SQL
cursor2.execute(sql)

# Simpan perubahan
db2.commit()

## Create Tabel Penjualan

In [8]:
# Perintah SQL
sql = ''' 
CREATE TABLE IF NOT EXISTS `penjualan` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `id_pelanggan` int(11) DEFAULT NULL,
  `tgl_transaksi` date NOT NULL,
  `total_transaksi` int(11) NOT NULL,
  PRIMARY KEY (`id_transaksi`),
  KEY `FK_penjualan_pelanggan` (`id_pelanggan`),
  CONSTRAINT `FK_penjualan_pelanggan` FOREIGN KEY (`id_pelanggan`) REFERENCES `pelanggan` (`id_pelanggan`) ON DELETE SET NULL ON UPDATE CASCADE
); 
'''

# Eksekusi perintah  SQL
cursor2.execute(sql)

# Simpan perubahan
db2.commit()

## Create Tabel Penjualan Detail

In [9]:
# Perintah SQL
sql = ''' 
CREATE TABLE IF NOT EXISTS `penjualan_detail` (
  `id_transaksi_detail` int(11) NOT NULL AUTO_INCREMENT,
  `id_transaksi` int(11) DEFAULT NULL,
  `id_barang` int(11) DEFAULT NULL,
  `jml_barang` smallint(6) DEFAULT NULL,
  `harga_satuan` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_transaksi_detail`),
  KEY `FK_tb_penjualan_detail_tb_barang` (`id_barang`),
  KEY `FK_tb_penjualan_detail_tb_penjualan` (`id_transaksi`),
  CONSTRAINT `FK_tb_penjualan_detail_tb_barang` FOREIGN KEY (`id_barang`) REFERENCES `barang` (`id_barang`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_tb_penjualan_detail_tb_penjualan` FOREIGN KEY (`id_transaksi`) REFERENCES `penjualan` (`id_transaksi`) ON DELETE CASCADE ON UPDATE CASCADE
)
'''

# Eksekusi perintah  SQL
cursor2.execute(sql)

# Simpan perubahan
db2.commit()