# Mencetak Unik ID di MySQL

Hal ini dapat dapat diselesaikan dengan pernyataan SELECT dan fungsi Universal Unique Identifier (UUID).

## Satu UUID yang Berbeda

SELECT UUID();

## Dua UUID yang Berbeda

SELECT UUID() AS ID1, UUID() as ID2;

## Penerapannya UUID dalam Tabel

Mari kita buat kolom bernama ID_BARU dengan fungsi UUID() dan menggunakan pernyataan ALTER dan UPDATE pada tabel `distribution_centers` yang ada pada database JNE2.

ALTER TABLE distribution_centers ADD UID text; 
UPDATE distribution_centers SET UID=UUID(); 
SELECT * FROM distribution_centers;

## Update Satu UUID yang Berbeda

UPDATE distribution_centers SET UID=UUID() WHERE ID=2; 
SELECT * FROM distribution_centers;

## Kustom UUID

Berikut adalah salah satu cara di mana kita dapat membuat UUID lebih ringkas dengan menggunakan fungsi REPLACE(). contoh berikut adalah cara untuk memperbarui UUID baris pada tabel `distribution_centers` dengan ID = 3.

UPDATE distribution_centers SET UID=REPLACE(UUID(), '-', '') WHERE ID=3; 
SELECT * distribution_centers;

# Satu UUID Singkat

Sama halnya dnegan fungsi sebelumnya, UUID_SHORT() dapat digunakan untuk membangun ID yang lebih singkat.

SELECT UUID_SHORT();