## Tambahkanlah kolom `Product_Price` pada table `inventory_items`

## Hapuslah kolom `Product_Price` pada table `inventory_items`

## Tambahkanlah kolom `Id` pada table `orders`

## Hapuslah kolom `Id` pada table `orders`

## Tambahkanlah kolom `Total_Sales` pada table `order_items`

## Hapuslah kolom `Total_Sales` pada table `order_items`

## Tampilkanlah data yang `order_id>= 50` dari table `orders`

## Tampilkanlah data berdasarkan negara `london` dari table `events`

## Tampilkanlah data yang memiliki `product_id = 9482` dari table `inventory_items`

## Tampilkanlah data yang memiliki `id = 72884` dan dengan status `cancelled` dari table `order_items`

## Urutkanlah Data dari table `distribution_centers` dengan nama dari huruf z ke a

## Urutkanlah Data dari table `order_items` dengan `sale_price` dari terkecil ke besar

## Tambahkan Tabel dari local (tidak menggunakan link) ke database `jne2`