# Langkah 1 : Instal Modul Postgre ke Python

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\dell\anaconda3\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

# Langkah 2 : Koneksikan Python ke Postgre

In [2]:
import psycopg2

try:
    db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
    print ("Berhasil terkoneksi")
except:
    print ("Tidak dapat terkoneksi dengan database")

Berhasil terkoneksi

# Langkah 3 : Membuat Tabel ke Database JNE

In [9]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
print ("Berhasil terkoneksi")
cur = db5.cursor()
cur.execute('''
    CREATE TABLE karyawan (
    karyawan_id INT PRIMARY KEY NOT NULL,
    nama TEXT NOT NULL,
    email TEXT NOT NULL )''')
db5.commit()
print ("Berhasil Membuat Tabel karyawan")

Berhasil terkoneksi
Berhasil Membuat Tabel karyawan

# Langkah 4 : Input Data ke Tabel Karyawan

In [32]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
print ("Berhasil terkoneksi")
cur = db5.cursor()
nambah_data = "INSERT INTO karyawan (karyawan_id, nama, email) VALUES (1, 'Bakti Siregar', 'dsciencelabs@outlook.com')"
cur.execute(nambah_data)
db5.commit()
db5.close()
print ("Berhasil Menambahkan Data")

Berhasil terkoneksi
Berhasil Menambahkan Data

In [39]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
print ("Berhasil terkoneksi")
cur = db5.cursor()
nambah_data = "INSERT INTO karyawan (karyawan_id, nama, email) VALUES (2, 'Clara', 'Clara@gmail.com')"
cur.execute(nambah_data)
db5.commit()
db5.close()
print ("Berhasil Menambahkan Data")

Berhasil terkoneksi
Berhasil Menambahkan Data

# Langkah 5 : Input Data Lebih Dari Satu Data

In [40]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
print ("Berhasil terkoneksi")
cur = db5.cursor()
nambah_data = "INSERT INTO karyawan (karyawan_id, nama, email) VALUES (3, 'Yosia', 'Yosia@gmail.com'), (4, 'Fani', 'Fani@gmail.com')"
cur.execute(nambah_data)
db5.commit()
db5.close()
print ("Berhasil Menambahkan Data")

Berhasil terkoneksi
Berhasil Menambahkan Data

# Langkah 6 : Menampilkan Data Karyawan

In [43]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                               password='1234'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
print ("Berhasil terkoneksi")
cur = db5.cursor()
tampil_data = "SELECT * FROM karyawan"
cur.execute(tampil_data)

results = cur.fetchall()

for data in results:
  print(data)

Berhasil terkoneksi
(1, 'Bakti Siregar', 'dsciencelabs@outlook.com')
(2, 'Clara', 'Clara@gmail.com')
(3, 'Yosia', 'Yosia@gmail.com')
(4, 'Fani', 'Fani@gmail.com')

# Langkah 7 : Edit Data Dari Tabel Karyawan

In [46]:
cur = db5.cursor()
update_data = "UPDATE karyawan SET nama=%s, email=%s WHERE karyawan_id=%s"
val = ("Fani", "Fani03@gmail.com", 4)
cur.execute(update_data, val)

db5.commit()

print("{} data diubah".format(cur.rowcount))

1 data diubah

# Langkah 8 : Delete Data Dari Tabel Karyawan

In [47]:
cur = db5.cursor()
delete_data = "DELETE FROM karyawan WHERE karyawan_id=%s"
val = (4, )
cur.execute(delete_data, val)

db5.commit()

print("{} data dihapus".format(cur.rowcount))

1 data dihapus