Seperti telah kita pelajari, untuk meng-akses database ada beberapa perangkat lunak yang dapat digunakan. Secara khusus pada pelatihan **("Data Analytics with Python+SQL")** ini kita akan fokus untuk menggunakan dua diantaranya; MySQL dan PostgreeSQL.
<hr> 

# Akses PostgreSQL dengan Python

Berikut ini akan diperlihatkan langkah-langkah untuk mengakses MySQL dengan Python:

## Instalasi Modul MySQL Connector

Untuk dapat menghubunkan Python dengan PostgreSQL, diperlukan mudul (Packages) yang berisi fungsi-fungsi  dan perintah yang dapat dipergunakan dalam mengakses PostgreSQL.

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\restu\anaconda3\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\restu\anaconda3\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

## Koneksikan Python ke PostgreSQL

Untuk menghubungkan Python dengan PostgreSQL, tidak perlu mengatifkan aplikasinya terlebih dahulu. Yang terpenting adalah apps nya sudah terinstal, kemudian jalankan koding berikut:

In [4]:
import psycopg2

try:
    db5 = psycopg2.connect('''user='postgres'
                               password='27november'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
    print ("Berhasil terkoneksi")
except:
    print ("Tidak dapat terkoneksi dengan database")

Berhasil terkoneksi

# Lanjutkan Tutorial sebelumnya

## Membuat Table

In [8]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

print ("berhasil terkoneksi")

berhasil terkoneksi

In [14]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')
cursor = db5.cursor()
sql = '''CREATE TABLE karyawan (
            karyawan_id INT PRIMARY KEY NOT NULL,
            nama TEXT NOT NULL,
            email TEXT NOT NULL)'''

cursor.execute(sql)
db5.commit()
print ("Tabel berhasil di buat")

Tabel berhasil di buat

## Insert 1 Data

In [35]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO karyawan (karyawan_id, nama, email) VALUES  (1, 'Bakti', 'bakti@gmail.com')"""
cursor.execute(sql)
db5.commit()

print('{} data ditambahkan'.format(cursor.rowcount))

1 data ditambahkan

## Insert Beberapa Data

In [40]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO karyawan (karyawan_id, nama, email) VALUES (2, 'Yosia', 'yosia@gmail.com'), (3, 'Fani', 'fani@yahoo.com'), (4, 'Leo', 'Leo@yahoo.com'), (5, 'Lexa','Lexa@gmail.com')"""
cursor.execute(sql)
db5.commit()
print("data berhasil ditambahkan")

data berhasil ditambahkan

## Menampilkan Data

Menampilkan 1 Data pertama

In [45]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "SELECT * FROM karyawan"
cursor.execute(sql)

results = cursor.fetchone()

for data in results:
  print(data)

1
Bakti
bakti@gmail.com

Menampilkan semua data

In [46]:
cursor = db5.cursor()
sql = "SELECT * FROM karyawan"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Bakti', 'bakti@gmail.com')
(2, 'Yosia', 'yosia@gmail.com')
(3, 'Fani', 'fani@yahoo.com')
(4, 'Leo', 'Leo@yahoo.com')
(5, 'Lexa', 'Lexa@gmail.com')

## Update Data

Update data email a.n Lexa

In [47]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='27november'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "UPDATE karyawan SET nama=%s, email=%s WHERE karyawan_id=%s"
val = ("Lexa", "Lexander@yahoo.com", 5)
cursor.execute(sql, val)

db5.commit()

print("{} data diubah".format(cursor.rowcount))

1 data diubah

## Menghapus Data

Menghapus data a.n Leo

In [48]:
cursor = db5.cursor()
sql = "DELETE FROM karyawan WHERE karyawan_id=%s"
val = (4, )
cursor.execute(sql, val)

db5.commit()

print("{} data dihapus".format(cursor.rowcount))

1 data dihapus