In [13]:
import psycopg2

try:
    db5 = psycopg2.connect('''user='postgres'
                            password='031412'
                            dbname='test'
                            host='localhost'
                            port=5432''')

    print("sukses")
except:
    print("gagal")

sukses

### Membuat Table

In [3]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

print ("berhasil terkoneksi")

berhasil terkoneksi

In [5]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')
cursor = db5.cursor()
sql = '''CREATE TABLE testing (
            karyawan_id INT PRIMARY KEY NOT NULL,
            nama TEXT NOT NULL,
            email TEXT NOT NULL)'''

cursor.execute(sql)
db5.commit()
print ("Tabel berhasil di buat")

Tabel berhasil di buat

### Insert Data

In [6]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO testing (karyawan_id, nama, email) VALUES  (1, 'Bakti', 'bakti@gmail.com')"""
cursor.execute(sql)
db5.commit()

print('{} data ditambahkan'.format(cursor.rowcount))

1 data ditambahkan

### Insert Beberapa Data

In [7]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO testing (karyawan_id, nama, email) VALUES (2, 'Yosia', 'yosia@gmail.com'), (3, 'Fani', 'fani@yahoo.com'), (4, 'Leo', 'Leo@yahoo.com'), (5, 'Lexa','Lexa@gmail.com')"""
cursor.execute(sql)
db5.commit()
print("data berhasil ditambahkan")

data berhasil ditambahkan

### Menampilkan Data

In [8]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "SELECT * FROM testing"
cursor.execute(sql)

results = cursor.fetchone()

for data in results:
  print(data)

1
Bakti
bakti@gmail.com

In [9]:
cursor = db5.cursor()
sql = "SELECT * FROM testing"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Bakti', 'bakti@gmail.com')
(2, 'Yosia', 'yosia@gmail.com')
(3, 'Fani', 'fani@yahoo.com')
(4, 'Leo', 'Leo@yahoo.com')
(5, 'Lexa', 'Lexa@gmail.com')

### Update Data

In [10]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='031412'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "UPDATE testing SET nama=%s, email=%s WHERE karyawan_id=%s"
val = ("Lexa", "Lexander@yahoo.com", 5)
cursor.execute(sql, val)

db5.commit()

print("{} data diubah".format(cursor.rowcount))

1 data diubah

### Menghapus Data

In [11]:
cursor = db5.cursor()
sql = "DELETE FROM testing WHERE karyawan_id=%s"
val = (4, )
cursor.execute(sql, val)

db5.commit()

print("{} data dihapus".format(cursor.rowcount))

1 data dihapus