## Tugas Kelompok A

CRUD adalah operasi dasar yang harus dipahami pada pemrograman database. CRUD itu adalah singkatan dari Create, Read, Update, dan Delete. Hal ini, sudah kita pelajari diatas. Berikut ini adalah contoh aplikasi yang dapat kita bangun jika sudah memahami materi sudah dipelajari.

**Adapun tugas kelompok A** adalah untuk memperbaiki koding dibawah ini. Sehingga dapat depergunakan sebagai applikasi sederhana untuk mengakses database.

**Kisi-kisi:**

1. Perhatikan nama database dan koneksinya? Done
2. Perhatikan apakah sudah ada tabelnya? Done
3. Pastikan nama kolom yang digunakan sudah sesuai? Done

In [1]:
import mysql.connector

db = mysql.connector.connect(
  host='localhost',
  user='jne',
  passwd='123'
)

if db.is_connected():
  print('Berhasil terhubung ke database')

Berhasil terhubung ke database

In [3]:
import os

In [14]:
cursor = db.cursor()
cursor.execute('CREATE DATABASE kurir1')

In [4]:
import mysql.connector

db = mysql.connector.connect(
  host='localhost',
  user='jne',
  passwd='123',
  database='kurir1'
)

In [17]:
cursor = db.cursor()
sql = '''CREATE TABLE customers (
           kurir_id INT AUTO_INCREMENT PRIMARY KEY,
            nama VARCHAR(255),
            alamat Varchar(255))'''

cursor.execute(sql)

In [5]:
def insert_data(db):
  nama = input("Masukan nama: ")
  alamat = input("Masukan alamat: ")
  val = (nama, alamat)
  cursor = db.cursor()
  sql = "INSERT INTO customers (nama, alamat) VALUES (%s, %s)"
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil disimpan".format(cursor.rowcount))

In [6]:
def show_data(db):
  cursor = db.cursor()
  sql = "SELECT * FROM customers"
  cursor.execute(sql)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("Tidak ada data")
  else:
    for data in results:
      print(data)

In [7]:
def update_data(db):
  cursor = db.cursor()
  show_data(db)
  kurir_id = input("pilih id kurir> ")
  nama = input("Nama baru: ")
  alamat = input("Alamat baru: ")

  sql = "UPDATE customers SET nama=%s, alamat=%s WHERE kurir_id=%s"
  val = (nama, alamat, kurir_id)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil diubah".format(cursor.rowcount))

In [8]:
def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  kurir_id = input("pilih id kurir> ")
  sql = "DELETE FROM customers WHERE kurir_id=%s"
  val = (kurir_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil dihapus".format(cursor.rowcount))

In [9]:
def search_data(db):
  cursor = db.cursor()
  keyword = input("Kata kunci: ")
  sql = "SELECT * FROM customers WHERE nama LIKE %s OR alamat LIKE %s"
  val = ("%{}%".format(keyword), "%{}%".format(keyword))
  cursor.execute(sql, val)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("Tidak ada data")
  else:
    for data in results:
      print(data)

In [10]:
def show_menu(db):
  print("=== APLIKASI DATABASE PYTHON ===")
  print("1. Insert Data")
  print("2. Tampilkan Data")
  print("3. Update Data")
  print("4. Hapus Data")
  print("5. Cari Data")
  print("0. Keluar")
  print("------------------")
  menu = input("Pilih menu> ")

  #clear screen
  os.system("cls") # untuk windows

  if menu == "1":
    insert_data(db)
  elif menu == "2":
    show_data(db)
  elif menu == "3":
    update_data(db)
  elif menu == "4":
    delete_data(db)
  elif menu == "5":
    search_data(db)
  elif menu == "0":
    exit()
  else:
    print("Menu salah!")

In [ ]:
if __name__ == "__main__":
  while(True):
    show_menu(db)

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama:  agung
Masukan alamat:  pamulang

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  2

(1, 'koko arif', 'pondok indah')
(2, 'rizal', 'pondok guntur')
(3, 'Harry', 'tenabang')
(4, 'dino', 'jaksel punya')
(6, 'ntin', 'tj duren')
(7, 'agung', 'pamulang')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  3

(1, 'koko arif', 'pondok indah')
(2, 'rizal', 'pondok guntur')
(3, 'Harry', 'tenabang')
(4, 'dino', 'jaksel punya')
(6, 'ntin', 'tj duren')
(7, 'agung', 'pamulang')

pilih id kurir>  3
Nama baru:  Harry Slank
Alamat baru:  potlot

1 data berhasil diubah
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  4

(1, 'koko arif', 'pondok indah')
(2, 'rizal', 'pondok guntur')
(3, 'Harry Slank', 'potlot')
(4, 'dino', 'jaksel punya')
(6, 'ntin', 'tj duren')
(7, 'agung', 'pamulang')

pilih id kurir>  7

1 data berhasil dihapus
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  5
Kata kunci:  slank

(3, 'Harry Slank', 'potlot')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  2

(1, 'koko arif', 'pondok indah')
(2, 'rizal', 'pondok guntur')
(3, 'Harry Slank', 'potlot')
(4, 'dino', 'jaksel punya')
(6, 'ntin', 'tj duren')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  0

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama:  Tante Retno
Masukan alamat:  Ciledug

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------