## Tugas Kelompok B

CRUD adalah operasi dasar yang harus dipahami pada pemrograman database. CRUD itu adalah singkatan dari Create, Read, Update, dan Delete. Hal ini, sudah kita pelajari diatas. Berikut ini adalah contoh aplikasi yang dapat kita bangun jika sudah memahami materi sudah dipelajari.

**Adapun tugas kelompok B** adalah untuk memperbaiki koding dibawah ini. Sehingga dapat depergunakan sebagai applikasi sederhana untuk mengakses database.

**Kisi-kisi:**

1. Perhatikan nama database dan koneksinya 
    jawab : done
2. Perhatikan apakah sudah ada tabelnya?
    jawab : done
3. Pastikan nama kolom yang digunakan sudah sesuai!
    jawab : done

In [2]:
import mysql.connector
import os

In [5]:
db = mysql.connector.connect(
  host="localhost",
  user="audit",
  passwd="123",
  database="jne"
)
# masuk dengan user name audit

In [6]:
cursor = db.cursor()
sql = '''CREATE TABLE pelanggan (
            pelanggan_id INT AUTO_INCREMENT PRIMARY KEY,
            nama VARCHAR(255),
            alamat Varchar(255))'''
cursor.execute(sql)

# dibuatkan tabel terlebih dulu pada database jne

In [ ]:
def insert_data(db):
  nama = input("Masukan nama pelanggan: ")
  alamat = input("Masukan alamat pengiriman: ")
  val = (nama, alamat)
  cursor = db.cursor()
  sql = "INSERT INTO pelanggan (nama, alamat) VALUES (%s, %s)"
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil disimpan".format(cursor.rowcount))


def show_data(db):
  cursor = db.cursor()
  sql = "SELECT * FROM pelanggan"
  cursor.execute(sql)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("Tidak ada data")
  else:
    for data in results:
      print(data)


def update_data(db):
  cursor = db.cursor()
  show_data(db)
  pelanggan_id = input("pilih id pelanggan> ")
  nama = input("Nama baru: ")
  alamat = input("Alamat baru: ")

  sql = "UPDATE pelanggan SET nama=%s, alamat=%s WHERE pelanggan_id=%s"
  val = (nama, alamat, pelanggan_id)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil diubah".format(cursor.rowcount))


def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  pelanggan_id = input("pilih id pelanggan> ")
  sql = "DELETE FROM pelanggan WHERE pelanggan_id=%s"
  val = (pelanggan_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil dihapus".format(cursor.rowcount))


def search_data(db):
  cursor = db.cursor()
  keyword = input("Kata kunci: ")
  sql = "SELECT * FROM pelanggan WHERE nama LIKE %s OR alamat LIKE %s"
  val = ("%{}%".format(keyword), "%{}%".format(keyword))
  cursor.execute(sql, val)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("Tidak ada data")
  else:
    for data in results:
      print(data)


def show_menu(db):
  print("=== APLIKASI DATABASE PYTHON ===")
  print("1. Insert Data")
  print("2. Tampilkan Data")
  print("3. Update Data")
  print("4. Hapus Data")
  print("5. Cari Data")
  print("0. Keluar")
  print("------------------")
  menu = input("Pilih menu> ")

  #clear screen
  os.system("clear")

  if menu == "1":
    insert_data(db)
  elif menu == "2":
    show_data(db)
  elif menu == "3":
    update_data(db)
  elif menu == "4":
    delete_data(db)
  elif menu == "5":
    search_data(db)
  elif menu == "0":
    exit()
  else:
    print("Menu salah!")


if __name__ == "__main__":
  while(True):
    show_menu(db)

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama pelanggan:  dwiki
Masukan alamat pengiriman:  bogor

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama pelanggan:  danu
Masukan alamat pengiriman:  Bekasi Kabupaten

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama pelanggan:  Koko
Masukan alamat pengiriman:  Dusun dutabuntu

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  2

(1, 'dwiki', 'bogor')
(2, 'danu', 'Bekasi Kabupaten')
(3, 'Koko', 'Dusun dutabuntu')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  3

(1, 'dwiki', 'bogor')
(2, 'danu', 'Bekasi Kabupaten')
(3, 'Koko', 'Dusun dutabuntu')

pilih id pelanggan>  1
Nama baru:  ceu dwiki
Alamat baru:  Mangga besar

1 data berhasil diubah
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  5
Kata kunci:  1

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  5
Kata kunci:  dwiky

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------