In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\orion\anaconda3\envs\py3_8_13\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os

In [3]:
import mysql.connector

db = mysql.connector.connect(
  host='localhost',
  user='jne',
  passwd='123'
)

if db.is_connected():
  print('terhubung')

terhubung

In [ ]:
cursor = db.cursor()
cursor.execute('CREATE DATABASE jenispaket')

In [18]:
import mysql.connector

db = mysql.connector.connect(
  host='localhost',
  user='jne',
  passwd='123',
  database='jenispaket'
)

In [ ]:
cursor = db.cursor()
sql = '''CREATE TABLE paket (
            paket_id INT AUTO_INCREMENT PRIMARY KEY,
            nama_barang VARCHAR(255),
            jenis_paket Varchar(255))'''

cursor.execute(sql)

In [21]:
def insert_data(db):
  nama_barang = input("Masukan nama barang: ")
  jenis_paket = input("Masukan jenis paket pengiriman: ")
  val = (nama_barang, jenis_paket)
  cursor = db.cursor()
  sql = "INSERT INTO paket (nama_barang, jenis_paket) VALUES (%s, %s)"
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil disimpan".format(cursor.rowcount))

In [22]:
def show_data(db):
  cursor = db.cursor()
  sql = "SELECT * FROM paket"
  cursor.execute(sql)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("Tidak ada data")
  else:
    for data in results:
      print(data)

In [23]:
def update_data(db):
  cursor = db.cursor()
  show_data(db)
  paket_id = input("pilih id paket> ")
  nama_barang = input("Nama Barang: ")
  jenis_paket = input("Jenis paket: ")

  sql = "UPDATE paket SET nama_barang=%s, jenis_paket=%s WHERE paket_id=%s"
  val = (nama_barang, jenis_paket, paket_id)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil diubah".format(cursor.rowcount))

In [24]:
def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  paket_id = input("pilih id paket> ")
  sql = "DELETE FROM paket WHERE paket_id=%s"
  val = (paket_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil dihapus".format(cursor.rowcount))

In [25]:
def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  paket_id = input("pilih id paket> ")
  sql = "DELETE FROM paket WHERE paket_id=%s"
  val = (paket_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data berhasil dihapus".format(cursor.rowcount))

In [ ]:
def show_menu(db):
  print("=== APLIKASI DATABASE PYTHON ===")
  print("1. Insert Data")
  print("2. Tampilkan Data")
  print("3. Update Data")
  print("4. Hapus Data")
  print("5. Cari Data")
  print("0. Keluar")
  print("------------------")
  menu = input("Pilih menu> ")

  os.system("clear")

  if menu == "1":
    insert_data(db)
  elif menu == "2":
    show_data(db)
  elif menu == "3":
    update_data(db)
  elif menu == "4":
    delete_data(db)
  elif menu == "5":
    search_data(db)
  elif menu == "0":
    exit()
  else:
    print("Menu salah!")

if __name__ == "__main__":
  while(True):
    show_menu(db)

=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  1
Masukan nama barang:  obat
Masukan jenis paket pengiriman:  REG

1 data berhasil disimpan
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  2

(1, 'Buku', 'REG')
(2, 'Buku', 'YES')
(3, 'Baju', 'REG')
(4, 'Makeup', 'YES')
(5, 'Meja', 'YES')
(6, 'obat', 'REG')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  3

(1, 'Buku', 'REG')
(2, 'Buku', 'YES')
(3, 'Baju', 'REG')
(4, 'Makeup', 'YES')
(5, 'Meja', 'YES')
(6, 'obat', 'REG')

pilih id paket>  2
Nama Barang:  Skincare
Jenis paket:  YES

1 data berhasil diubah
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  4

(1, 'Buku', 'REG')
(2, 'Skincare', 'YES')
(3, 'Baju', 'REG')
(4, 'Makeup', 'YES')
(5, 'Meja', 'YES')
(6, 'obat', 'REG')

pilih id paket>  5

1 data berhasil dihapus
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------

Pilih menu>  2

(1, 'Buku', 'REG')
(2, 'Skincare', 'YES')
(3, 'Baju', 'REG')
(4, 'Makeup', 'YES')
(6, 'obat', 'REG')
=== APLIKASI DATABASE PYTHON ===
1. Insert Data
2. Tampilkan Data
3. Update Data
4. Hapus Data
5. Cari Data
0. Keluar
------------------