# Instalasi Modul MySQL Connector

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\crm\.conda\envs\py3_8_13\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

## Koneksikan Python ke PostgreSQL

In [10]:
import psycopg2

try:
    db5 = psycopg2.connect('''user='postgres'
                               password='123'
                               dbname='jne'
                               host='localhost'
                               port=5432''')
    print ("Berhasil terkoneksi")
except:
    print ("Tidak dapat terkoneksi dengan database")

Berhasil terkoneksi

# Lanjutkan Tutorial sebelumnya

## Membuat Tabel

In [11]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

print ("berhasil terkoneksi")

berhasil terkoneksi

In [12]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')
cursor = db5.cursor()
sql = '''CREATE TABLE karyawan (
            karyawan_id INT PRIMARY KEY NOT NULL,
            nama TEXT NOT NULL,
            email TEXT NOT NULL)'''

cursor.execute(sql)
db5.commit()
print ("Tabel berhasil di buat")

Tabel berhasil di buat

## Insert 1 Data

In [13]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO karyawan (karyawan_id, nama, email) VALUES  (1, 'Bakti', 'bakti@gmail.com')"""
cursor.execute(sql)
db5.commit()

print('{} data ditambahkan'.format(cursor.rowcount))

1 data ditambahkan

## Insert Beberapa Data

In [14]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = """INSERT INTO karyawan (karyawan_id, nama, email) VALUES (2, 'Yosia', 'yosia@gmail.com'), (3, 'Fani', 'fani@yahoo.com'), (4, 'Leo', 'Leo@yahoo.com'), (5, 'Lexa','Lexa@gmail.com')"""
cursor.execute(sql)
db5.commit()
print("data berhasil ditambahkan")

data berhasil ditambahkan

## Menampilkan Data

### Menampilkan 1 Data Pertama

In [17]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "SELECT * FROM karyawan"
cursor.execute(sql)

results = cursor.fetchone()

for data in results:
  print(data)

1
Bakti
bakti@gmail.com

### Menampilkan semua data

In [18]:
cursor = db5.cursor()
sql = "SELECT * FROM karyawan"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Bakti', 'bakti@gmail.com')
(2, 'Yosia', 'yosia@gmail.com')
(3, 'Fani', 'fani@yahoo.com')
(4, 'Leo', 'Leo@yahoo.com')
(5, 'Lexa', 'Lexa@gmail.com')

## Update Data

#### Update data email a.n Lexa

In [19]:
import psycopg2
db5 = psycopg2.connect('''user='postgres'
                        password='123'
                        dbname='jne'
                        host='localhost'
                        port=5432''')

cursor = db5.cursor()
sql = "UPDATE karyawan SET nama=%s, email=%s WHERE karyawan_id=%s"
val = ("Lexa", "Lexander@yahoo.com", 5)
cursor.execute(sql, val)

db5.commit()

print("{} data diubah".format(cursor.rowcount))

1 data diubah

## Menghapus Data

#### Menghapus data a.n Leo

In [20]:
cursor = db5.cursor()
sql = "DELETE FROM karyawan WHERE karyawan_id=%s"
val = (4, )
cursor.execute(sql, val)

db5.commit()

print("{} data dihapus".format(cursor.rowcount))

1 data dihapus